[Unit]
Description=RFID Music player Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/go/github.com/jaredwarren/clock
ExecStart=/home/pi/go/github.com/jaredwarren/clock/clock-armv7 > /home/pi/sample.log 2>&1

[Install]
WantedBy=multi-user.target