[Unit]
Description=Linear Clock Display Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/go/github.com/jaredwarren/clock
ExecStart=/home/pi/go/github.com/jaredwarren/clock/clock-armv7
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
