[Unit]
Description=Clock config web UI (configd)
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/go/github.com/jaredwarren/clock
ExecStart=/home/pi/go/github.com/jaredwarren/clock/configd-armv7
Restart=on-failure
# Logs go to journalctl -u config.service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target